{% extends 'layout_common.html' %}

{% block title %}{{ category }}{% endblock %}

{% block meta %}
<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8"/>
<meta name="robots" content="noindex" />
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
{% endblock %}

{% block nav %}
  {% for each_sub in group['subcategory'] %}
    <li><a href="/{{ clean_url(category) }}/{{ clean_url(each_sub) }}">{{ each_sub }}</a></li>
  {% endfor %}
{% endblock %}

{% block body %}
    <section id="one" class="wrapper style2">
      <div class="inner">
        <div class="grid-style">
          {% for each in group.subcategory %}
          <div>
            <div class="box">
              <div class="image fit">
                <img src="{{ get_all_kw_of(each).images | random() }}" alt="" />
              </div>
              <div class="content">
                <header class="align-center">
                  <p>maecenas sapien feugiat ex purus</p>
                  <h2>{{ each }}</h2>
                </header>
                <p>
                  Unsere Angebot in {{ each }}:
                  <ul>
                  {% for kw in get_all_kw_of(each)['keyword'][:10] %}
                    <li><a href="/{{ clean_url(category) }}/{{ clean_url(each) }}/{{ clean_url(kw) }}">{{ kw }}</a></li>
                  {% endfor %}
                  </ul>
                </p>
                <footer class="align-center">
                  <a href="/{{ clean_url(category) }}/{{ clean_url(each) }}" class="button alt">Learn More</a>
                </footer>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
{% endblock %}
