{% extends 'layout_common.html' %}

{% block title %}{{ category }}{% endblock %}

{% block meta %}
<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8"/>
<meta name="robots" content="noindex" />

<meta name="Here comes SEO title" content="Here comes SEO description content.">
{% endblock %}

{% block nav %}
  {% for each in data %}
    <li><a href="/{{ clean_url(category) }}/{{ clean_url(each._id) }}">{{ each._id }}</a></li>
  {% endfor %}
{% endblock %}

{% block body %}
    <section id="one" class="wrapper style2">
      <div class="inner">
        <div class="grid-style">
          {% for each in data %}
          <div>
            <div class="box">
              <div class="image fit">
                <img src="{{ each.images | random() }}" alt="" />
              </div>
              <div class="content">
                <header class="align-center">
                  <p>maecenas sapien feugiat ex purus</p>
                  <h2>{{ each._id }}</h2>
                </header>
                <p>
                  Unsere Angebot in {{ each._id }}:
                  <ul>
                  {% for kw in each.keywords[:10] %}
                    <li><a href="/{{ clean_url(category) }}/{{ clean_url(each._id) }}/{{ clean_url(kw) }}">{{ kw }}</a></li>
                  {% endfor %}
                  </ul>
                </p>
                <footer class="align-center">
                  <a href="/{{ clean_url(category) }}/{{ clean_url(each._id) }}" class="button alt">Learn More</a>
                </footer>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
{% endblock %}
