body {
  font-size: 1.1rem; }

.sub-title {
  font-size: 0.9rem;
  margin-bottom: 10px; }

.boxed {
  border: 1px solid #e9ecef;
  border-radius: .3rem;
  padding: 2rem 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }
  .boxed h2 {
    margin-bottom: 1rem; }

.video-box iframe {
  width: 100%;
  height: 600px; }

.breadcrumb li + li:before {
  padding: 0 3px 0px 5px;
  color: #ccc;
  content: "/\00a0"; }

.intro-box {
  background-color: #e9ecef;
  border-radius: .3rem;
  padding: 4rem 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.product-box {
  border: 1px solid #e9ecef;
  border-radius: .3rem;
  padding: 2rem 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }
  .product-box h2 {
    margin-bottom: 1rem; }
  .product-box .details-wrapper {
    padding-top: 1rem; }
    .product-box .details-wrapper ul {
      list-style: none; }
  .product-box .features {
    margin-top: 1rem;
    list-style: none; }
    .product-box .features li:before {
      content: "check";
      font-family: "Material Icons";
      position: absolute;
      left: 25px;
      color: #239212; }

.category-grid {
  margin-bottom: 50px;
  float: left; }
  .category-grid .card {
    width: 300px;
    margin-bottom: 25px;
    margin-right: 25px;
    float: left; }
    .category-grid .card .card-img-top {
      height: 200px;
      -o-object-fit: cover;
         object-fit: cover; }
    .category-grid .card .card-title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .category-grid .card .card-body {
      height: 350px; }
    .category-grid .card ul {
      padding: 0;
      list-style: none; }
      .category-grid .card ul li {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
    .category-grid .card .btn {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%; }

.keyword-grid {
  margin-bottom: 50px;
  float: left; }
  .keyword-grid .card {
    width: 300px;
    margin-bottom: 25px;
    margin-right: 25px;
    float: left; }
    .keyword-grid .card .card-img-top {
      height: 200px;
      -o-object-fit: cover;
         object-fit: cover; }
    .keyword-grid .card .card-title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .keyword-grid .card .card-body {
      height: 100px; }
    .keyword-grid .card .btn {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%; }


/* 1acounter.de */